{% extends 'base.html.twig' %}

{% block title %}TurboShop
{% endblock %}

{% block body %}
	<style>
		.vertical-center {
			width: 100vw;
			height: 100vh;
			display: flex;
			align-items: center;
		}
	</style>
	<div class="container vertical-center">
		<div class="row">

			{{ form_start(form_shop_search) }}
				<label>Recherche</label>
				<div class="form-group">
					{{ form_row(form_shop_search.zipCode) }}
					{{ form_row(form_shop_search.submit) }}
				</div>
			{{ form_end(form_shop_search) }}

			{% for shop in shops %}
				<div class="card col-sm p-0 m-3 img-fluid">
					{% if shop.img is defined %}
						<img class="card-img-top" src="{{shop.img}}" alt="Card image cap">
					{% else %}
						<img class="card-img-top" src="{{asset('assets/default-shop-img.jpg')}}" alt="Card image cap">
					{% endif %}
					<div class="card-body">
						<h5 class="card-title">{{shop.name}}</h5>
						<p class="card-text">{{shop.zipcode}}</p>
						<a href="{{path('shop_list', {id: shop.id})}}" class="btn btn-dark">Voir les produits</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
