{% extends 'base.html.twig' %}

{% block title %}Hello ShopController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}

		.disabled-btn {
			opacity: 50%;
			cursor: not-allowed;
		}
	</style>
	<div class="container vertical-center">
		<h1 class="text-center">
			{{shop.name}}
		</h1>
		<div class="row justify-content-center mb-3">
			{% for article in shop.articles %}
				{% include '/article/index.html.twig' %}
			{% else %}
				<h3 class="text-center error">Ce magasin a été dévalisé !</h3>
			{% endfor %}
		</div>

		<div class="m-3">
			<h2 class="text-center"> Un soucis ? Contactez-nous :</h2>
			{{form_start(form_contact)}}
			{# <form class="" action=""> #}
				<div class="mb-3">
					<label for="subject" class="form-label">Sujet</label>
					{{form_row(form_contact.subject)}}
					{# <input type="text" class="form-control" id="subject" placeholder="Votre problème"> #}
				</div>
				<div class="mb-3">
					<label for="mail" class="form-label">Votre adresse mail</label>
					{{form_row(form_contact.mail)}}
					{# <input type="email" class="form-control" id="mail" placeholder="nom@exemple.com"> #}
				</div>
				<div class="mb-3">
					<label for="remark" class="form-label">Vos remarques</label>
					{{form_row(form_contact.content)}}
					{# <textarea class="form-control" id="remark" rows="3"></textarea> #}
				</div>
				<div class="align-items-center">
					{{form_row(form_contact.submit)}}
					{# <button class="btn btn-dark align-items-center" type="submit">Envoyez votre message</button> #}
				</div>
			{# </form> #}
			{{form_end(form_contact)}}
		</div>
	</div>
{% endblock %}
