{% extends 'base.html.twig' %}

{% block title %}Hello ShopController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}

		.disabled-btn {
			opacity: 50%;
			cursor: not-allowed;
		}
	</style>
	<div class="container vertical-center text-center">
		<h1 class="text-center">
			{{shop.name}}
		</h1>
		<div class="row vertical-center">
			<div class="col">
				{{form_start(form_filters)}}
				<div class="mb-3">
					<label for="minPrice" class="form-label">Prix minimum</label>
					{{form_row(form_filters.minPrice)}}
				</div>
				<div class="mb-3">
					<label for="maxPrice" class="form-label">Prix maximum</label>
					{{form_row(form_filters.maxPrice)}}
				</div>
				<div class="align-items-center">
					{{form_row(form_filters.submit)}}
				</div>
				{{form_end(form_filters)}}
			</div>
			<a class="col btn btn-dark" href="{{ path("basket") }}">Voir mon panier</a>
		</div>
		<div class="row justify-content-center mb-3">
			{% for article in shop.articles %}
				{% include '/article/index.html.twig' %}
			{% else %}
				<h3 class="text-center error">Ce magasin a été dévalisé !</h3>
			{% endfor %}
		</div>

		<div class="m-3">
			<h2 class="text-center"> Un soucis ? Contactez-nous :</h2>
			{{form_start(form_contact)}}
				<div class="mb-3">
					<label for="subject" class="form-label">Sujet</label>
					{{form_row(form_contact.subject)}}
				</div>
				<div class="mb-3">
					<label for="mail" class="form-label">Votre adresse mail</label>
					{{form_row(form_contact.mail)}}
				</div>
				<div class="mb-3">
					<label for="remark" class="form-label">Vos remarques</label>
					{{form_row(form_contact.content)}}
				</div>
				<div class="align-items-center">
					{{form_row(form_contact.submit)}}
				</div>
			{{form_end(form_contact)}}
		</div>
	</div>
{% endblock %}
