{% extends 'base.html.twig' %}

{% block title %}Messages{% endblock %}

{% block body %}

    <div class="container vertical-center">
        <div class="row">
            <h1>Messages</h1>
            <table class="table">
                <thead>
                <tr>
                    <th>Date du message</th>
                    <th>Mail</th>
                    <th>Sujet</th>
                    <th>Contenu du message</th>
                    <th>Magasin concerné</th>
                </tr>
                </thead>
                <tbody>
                    {% for message in messages %}
                        <tr>
                            <td>{{ message.timestamp|format_datetime(locale='fr') }}</td>
                            <td>{{ message.mail }}</td>
                            <td>{{ message.subject }}</td>
                            <td>{{ message.content }}</td>
                            <td>{{ message.shop.name }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
