{% block body %}
    <style>
        .img {
            width: 100%;
            height: 250px;
            object-fit: cover;
        }
    </style>

<div class="align-center card col-3 p-0 m-3">
    <img class="card-img-top img" src={{ article.url != null ? article.url : "https://decizia.com/blog/wp-content/uploads/2017/06/default-placeholder.png"}}>
    <div class="card-body">
        <h5 class="card-title">
            {{article.name}}
            {% if article.quantity > 0 %}
                <span class="badge bg-success">En stock ({{ article.quantity }})</span>
            {% else %}
                <span class="badge bg-danger">Rupture de stock</span>
            {% endif %}
        </h5>
        <p class="card-text">{{ article.description | striptags | slice(0, 75) }}...</p>

    </div>
    <div class="card-footer d-flex justify-content-between align-items-center">
        <a href="{{ path("addBasket", {idArticle: article.id, idShop: shop.id}) }}" class="btn btn-dark" {{ article.quantity == 0 ? 'aria-disabled="true"' : ""}}>Ajouter au panier</a>
        <a href="{{ path("details", {idArticle: article.id, idShop: shop.id})}}" class="btn btn-dark">Détails</a>
        <small class="text-muted warning">{{article.price / 100 }}
            €</small>
    </div>
</div>

{% endblock %}
